table, th, tr, td {
    font-family: 'Manrope', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
    border-collapse: collapse;
}
tr {
    height: 60px;
    background-color: rgb(250, 250, 250);
    opacity: 0.7;
    transition: 0.3s;
}

thead tr {
    opacity: 1;
}

tr:hover {
    opacity: 1;
}


table {
    margin: 20px auto;
    width: 95%;
    -webkit-box-shadow: 0px 12px 33px -1px rgba(0,0,0,0.45); 
    box-shadow: 0px 12px 33px -1px rgba(0,0,0,0.45);
    text-align: center;
    flex-wrap: wrap;
}

td, th {
    padding: 5px 20px;
    font-size: 15px;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: rgba(177, 177, 177, 0.2);
} 

thead th {
    background-color: rgba(0,0,0,0.45);
    color: whitesmoke;
}

.pagination {
    display: inline-block;
    background-color: rgb(250, 250, 250);
}

.pagination span {
    font-family: 'Changa', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    padding: 0px 5px;
}

.pagination-btn {
    background-color: rgba(0,0,0,0.45);
    opacity: 0.7;
    transition: 0.4s;
}

.pagination-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.country-cell {
    font-weight: bolder;
}

.container {
    margin: 20px 0px;
}

#country-picker-container {
    width: 50%;
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
}

.extra-info-item { 
    font-size: 15px;
}

#country-picker-flag {
    height: 100px;
    width: 200px;
    border: 1px solid rgba(177, 177, 177, 0.2);
}

#country-picker-flag-container  {
    margin-top: 20px;
}

#country-picker-btn {
    background-color: #800000;
    background: linear-gradient(to right, #800000 0%, #ff0000 100%);
    color: whitesmoke;
    width: 100px;
    margin: 10px auto;
    opacity: 0.8;
    transition: 0.4s;
    border-radius: 10px;
}

#country-picker-btn:hover {
    opacity: 1;
    cursor: pointer;
}
